<!DOCTYPE html>
<html lang="en">
<head>
	<title>Integrated Manual Test 1</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<link rel="stylesheet" type="text/css" href="static/Template1/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/Template1/css/main.css">
</head>
<body>

	<header>
		<div class="wrapper">
			<img src="static/Template1/img/infineonlogo.png" class="h_logo" alt="DHL" title="" width = "10%" height = "100%">
		</div>
	</header><!-- Header End -->

	<section class="main wrapper">
		<article>
			<div class="article_image" >
					<iframe src={{target}} frameborder="1" height="100%" width = "100%" scrolling = "no"></iframe>
			</div>
			<div class="post">
				<h1 class="title">
					Item Details
				</h1>
				
				<p>
					City: {{city}}<br>
					Region: {{region}}<br>
					Company: {{company}}<br>
					Product number: {{product}}
				</p>

				<p>This is a product description and othe rpacking features..</p>
			</div>
		</article>
		<article>
			<div class="post">
				<h1 class="title">
					Duis aute irure dolor in henderit in voluptate.
				</h1>
				
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>
			</div>
		</article>

	<!--<footer>
		<div class="wrapper">-->
			<!--<img class="logo_footer" src="Template1/img/logo_footer.png" alt="Blogin" title="">
			<p class="rights">© 2014 Blogin.com  -  All Rights Reserved  -  Find more free Templates at <a href="http://Pixelhint.com" target="_blink">Pixelhint.com</a> </p>
			<ul class="social_profiles">
				<li class="f"><a href="http://facebook.com/pixelhint" target="_blink"></a></li>
				<li class="t"><a href="http://twitter.com/pixelhint" target="_blink"></a></li>
				<li class="be"><a href="http://behance.net/pixelhint" target="_blink"></a></li>
				<li class="d"><a href="http://dribbble.com/pixelhint" target="_blink"></a></li>
			</ul>
		</div>-->
	<!--</footer>--><!-- Footer End -->

</body>
</html>