<!DOCTYPE html>
<html lang="en">
<title>Integrated Manual Test 3</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/Template3/trial.css">
<head>
	{% load static %}
</head>
<body>
<div class="header-row" style="border-bottom: 4px solid black;">
    <!-- ################################################################################################ -->
      <img src="static/Template1/img/infineonlogo.png" class="h_logo" alt="<LOGO>" style="margin-left:10%;">
      <p align="center" style="line-height:1; width:60%; float:right;margin-right:10%" ><font size="+6">Sample Integrated Manual Test Template 3</font></p>
    <!-- ################################################################################################ -->
</div>
<div class = "main-deal">
	<iframe src = {{target}} scrolling = "no"></iframe>
</div>

<div class = "area-contain">
	<div class = "word-bit">
		<div class ="sub-para" style="float:left;">
			<p>1    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum enim quis semper porta. Sed fermentum dignissim orci, finibus faucibus ante porttitor et. Phasellus interdum est tempor diam elementum semper. Aenean orci metus, dignissim ac pretium maximus, pharetra pellentesque sem. Morbi a tincidunt dui. Etiam pharetra metus nisi, sed suscipit justo tempor sed. Nunc nibh nisi, rutrum at sodales in, vulputate eu neque. Phasellus quis tortor aliquet, egestas leo nec, tincidunt sapien. Proin elementum neque nec est mollis vehicula. Integer facilisis neque ac semper condimentum.</p>
		</div>
		<div class ="sub-para"style="float:right;">
			<p>2    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum enim quis semper porta. Sed fermentum dignissim orci, finibus faucibus ante porttitor et. Phasellus interdum est tempor diam elementum semper. Aenean orci metus, dignissim ac pretium maximus, pharetra pellentesque sem. Morbi a tincidunt dui. Etiam pharetra metus nisi, sed suscipit justo tempor sed. Nunc nibh nisi, rutrum at sodales in, vulputate eu neque. Phasellus quis tortor aliquet, egestas leo nec, tincidunt sapien. Proin elementum neque nec est mollis vehicula. Integer facilisis neque ac semper condimentum.</p>
		</div>
	</div>
</div>




<!--<div class = "card-container">
	<div class ="model-card" >
		<iframe src = {{target}} scrolling = "no"></iframe>
	</div>
	<div class = "description-box" >
		<div style="background-image: url('{% static 'Template3/dhlbg.png' %}'); background-repeat: no-repeat; background-size:cover; opacity:0.1; height:100%; width:100%">
		</div>
		<div class="description-card"  style="position:relative; top:-100%">
				<p>1    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum enim quis semper porta. Sed fermentum dignissim orci, finibus faucibus ante porttitor et. Phasellus interdum est tempor diam elementum semper. Aenean orci metus, dignissim ac pretium maximus, pharetra pellentesque sem. Morbi a tincidunt dui. Etiam pharetra metus nisi, sed suscipit justo tempor sed. Nunc nibh nisi, rutrum at sodales in, vulputate eu neque. Phasellus quis tortor aliquet, egestas leo nec, tincidunt sapien. Proin elementum neque nec est mollis vehicula. Integer facilisis neque ac semper condimentum.</p>
			</div>
			<div class = "description-card" style="position:relative; top:-100%">
				<p>2   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum enim quis semper porta. Sed fermentum dignissim orci, finibus faucibus ante porttitor et. Phasellus interdum est tempor diam elementum semper. Aenean orci metus, dignissim ac pretium maximus, pharetra pellentesque sem. Morbi a tincidunt dui. Etiam pharetra metus nisi, sed suscipit justo tempor sed. Nunc nibh nisi, rutrum at sodales in, vulputate eu neque. Phasellus quis tortor aliquet, egestas leo nec, tincidunt sapien. Proin elementum neque nec est mollis vehicula. Integer facilisis neque ac semper condimentum.</p>
			</div>
	</div>
</div>




html{height:100%; width:100%;}
body{height:95%; width:98%; overflow: hidden;}
.card-container{height:90%; width:100%; display:flex; margin:0.5%;}
.model-card{width:50%; height:100%; padding:0.2%}
iframe{height:100%; width:100%; min-height:100%; min-width:100%;}
.description-box{width:40%; margin:0.5%;}
.description-card{flex-grow:1; min-height:50%;  border-style:solid; border-color:rgba(0, 0, 0, 1); border-width:1px;}




-->
</body>
</html>
