html{height:100%; width:100%;}
body{height:95%; width:98%; overflow: hidden; text-align:center; margin-left:auto; margin-right: auto;}
iframe{height:100%; width:50%; border:none;margin:0px; padding:0px;}
.header{height:100%;width:100%;}
.footer{height:10%;width:100%;}
img{width:auto; max-width:10%; height:auto; margin:0; padding:0; box-sizing:border-box; border:none; line-height:normal; vertical-align:middle;}
.main-deal{height:50%; width:100%; text-align:center; margin-left: auto;margin-right: auto; padding:3px;}
.sub-para{height:100%; width:48%; text-align:center; margin-left: auto;margin-right: auto; border:solid 1px yellow; float:left;}
.area-contain{height:20%; width:100%; text-align:center; margin-left:auto; margin-right:auto;}
.header-row{display:block; height:10%; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
.word-bit{height:100%; width:80%; text-align:center; border: solid 5px red; padding:1%; margin:auto;}